body {
  font-family: "Montserrat", sans-serif;
}

.content {
  margin: 30px 120px auto 120px;
  padding: 70px 0;
  text-align: center;
  border: 3px solid #c39e5c;
}

h1 {
  color: #91091e;
}

#button {
  margin-top: 20px;
}

#display {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
